In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score

Data Collection

In [4]:
data=pd.read_csv("/content/mail_data.csv") 
#pre-process and fix data
data_new=data.where((pd.notnull(data)),'')

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

Label encoding

In [7]:
#spam mail-0,ham mail-1
data_new.loc[data_new['Category']=='spam','Category',]=0
data_new.loc[data_new['Category']=='ham','Category',]=1
data_new.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

Separating texts and labels

In [9]:
X=data_new['Message']
y=data_new['Category']
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Splitting training and test data

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=3)

Feature extraction as the machine does'nt understand text

In [11]:
#message column is converted into feature vector
feature=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
X_train_new=feature.fit_transform(X_train)
X_test_new=feature.transform(X_test)

#converting y test and train to int type
y_train=y_train.astype('int')
y_test=y_test.astype('int')

Training the Model

In [14]:
model=LogisticRegression(solver="lbfgs",penalty="l2")
model.fit(X_train_new,y_train)

LogisticRegression()

Evaluation of the model

In [15]:
#on training data
predicted=model.predict(X_train_new)
accuracy=accuracy_score(y_train,predicted)
print(accuracy)

0.9690865576386118

In [16]:
#on test data
predicted=model.predict(X_test_new)
accuracy=accuracy_score(y_test,predicted)
print(accuracy)

0.967741935483871

Creating a predictive system

In [24]:
test_array=[input()]
vector=feature.transform(test_array)

#making a prediction
prediction=model.predict(vector)
if prediction[0]==0:
  print("Spam")
else:
  print("Ham")

Sunshine Quiz Wkly Q! Win a top Sony DVD player if u know which country Liverpool played in mid week? Txt ansr to 82277. Â£1.50 SP:Tyrone
Spam